body {
  font-family: "Fredoka One", sans-serif;
  font-size: 20px;
  background: rgb(56, 56, 75);
  color: white;
}

h1 {
  text-align: center;
}

h3 {
  text-align: right;
  margin-right: 100px;
}

.game-board {
  text-align: center;
}

.top-left-quadrant {
  display: inline-block;
  background: rgb(12, 179, 12);
  height: 300px;
  width: 300px;
  border-top-left-radius: 100%;
  cursor: pointer;
}

.top-right-quadrant {
  display: inline-block;
  background: red;
  height: 300px;
  width: 300px;
  border-top-right-radius: 100%;
  cursor: pointer;
}

.bottom-left-quadrant {
  display: inline-block;
  background: yellow;
  height: 300px;
  width: 300px;
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.bottom-right-quadrant {
  display: inline-block;
  background: rgb(30, 30, 201);
  height: 300px;
  width: 300px;
  border-bottom-right-radius: 100%;
  cursor: pointer;
}

.center {
  display: inline-block;
  background: black;
  height: 325px;
  width: 325px;
  border-radius: 100%;
  margin-left: -162.5px;
  margin-top: -162.5px;
  position: absolute;
  z-index: 1;
}

.quadrant {
  opacity: 1;
}

.quadrant:hover {
  opacity: 1;
}

.flash {
  opacity: 0.1;
}

footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.start {
  height: 40px;
  width: 100px;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
